<div class="courses-panel">
  <h3>All Courses</h3>

  <mat-tab-group>
    <mat-tab label="Beginners">
      <!-- beginnerCourses$, is an observable that we must subscribe to it in order to get the data.
           If we try to access the observable directly(without the async pipe) it will not work.
           async pipe here will subscribe to beginnerCourses$ and is going to make the values emitted by this observable, available here to loop on. 
      -->
      <!-- prettier-ignore -->
      <mat-card
        *ngFor="let course of (beginnerCourses$ | async)"
        class="course-card mat-elevation-z10"
      >
        <mat-card-header>
          <mat-card-title>{{ course.description }}</mat-card-title>
        </mat-card-header>

        <img mat-card-image [src]="course.iconUrl" />

        <mat-card-content>
          <p>{{ course.longDescription }}</p>
        </mat-card-content>

        <mat-card-actions class="course-actions">
          <button
            mat-button
            class="mat-raised-button mat-primary"
            [routerLink]="['/courses', course.id]"
          >
            VIEW COURSE
          </button>

          <button
            mat-button
            class="mat-raised-button mat-accent"
            (click)="editCourse(course)"
          >
            EDIT
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab label="Advanced">
      <!-- prettier-ignore -->
      <mat-card
        *ngFor="let course of (advancedCourses$ | async)"
        class="course-card mat-elevation-z10"
      >
        <mat-card-header>
          <mat-card-title>{{ course.description }}</mat-card-title>
        </mat-card-header>

        <img mat-card-image [src]="course.iconUrl" />

        <mat-card-content>
          <p>{{ course.longDescription }}</p>
        </mat-card-content>

        <mat-card-actions class="course-actions">
          <button
            mat-button
            class="mat-raised-button mat-primary"
            [routerLink]="['/courses', course.id]"
          >
            VIEW COURSE
          </button>

          <button
            mat-button
            class="mat-raised-button mat-accent"
            (click)="editCourse(course)"
          >
            EDIT
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
