<div class="courses-panel">
  <h3>All Courses</h3>

  <mat-tab-group>
    <mat-tab label="Beginners">
      <!-- beginnerCourses$, is an observable that we must subscribe to it in order to get the data.
           If we try to access the observable directly(without the async pipe) it will not work.
           async pipe here will subscribe to beginnerCourses$ and is going to make the values emitted by this observable, available here to loop on. 
      -->
      <!-- prettier-ignore -->
      <courses-card-list
      [courses]="(beginnerCourses$ | async)"
      (coursesChanged)="reloadCourses()"
    >
      
    </courses-card-list>
    </mat-tab>

    <mat-tab label="Advanced">
      <!-- prettier-ignore -->
      <courses-card-list
        [courses]="(advancedCourses$ | async)"
        (coursesChanged)="reloadCourses()"
      ></courses-card-list>
    </mat-tab>
  </mat-tab-group>
</div>
